<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StoreProject.Properties.Settings.StoreConnectionString"
            connectionString="Data Source=LAPTOP-NFTA9L2N\SQLEXPRESS01;Initial Catalog=Store;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>